{% load staticfiles %}
<html>
    <head>
        <title>Veronica's Blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="">Veronica's Blog</a></h1>
        </div>

    {% for post in posts %}
        <div>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>published: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </body>
</html>